# Niomar Lopez

## Pandas, Datasets, and Dataframes Challenge

In [1]:
import pandas as pd

# Part One:


- Create three lists with five elements each. 
    - The first list should contain employees' first names
    - the second their last names
    - the third should list their ages. <br>*\*You can make up this data.*
- Create a data dictionary from the three lists. 
- Create a pandas Series from the employee age list. 
- Determine the average employee age.
- Write the Series to a CSV file.

In [ ]:
# Creating three lists for my employees demographics

fname = ['Jim', 'Michael', 'Dwight', 'Pam', 'Angela']
lname = ['Halpert', 'Scott', 'Schrute', 'Beesley', 'Martin']
age =  [29, 49, 37, 28, 36]

In [ ]:
# Creating a data dictionary from the three lists

employee_demographics = {
    "fname" : fname,
    "lname" : lname,
    "age" : age
}

print(employee_demographics)

In [ ]:
# Creating a Pandas series from the employee age list

emp_ages = pd.Series(age)

print(emp_ages)

In [ ]:
# Determining the avg employee age

print(emp_ages.mean())

In [ ]:
# Writing the series to a .csv file

#emp_ages.to_csv('employees_ages.csv')

# Part 2

- Import *'21st century MLB Batting.csv'* into Python as a data frame.
- Print the first five items in the data frame.
- Print the last six items in the data frame.
- Determine the average of the HR column.
- Calculate the max of the SO column.
- Save the data frame as an Excel file.
- Create a subset of the data frame for players with more than 40 HR.
- Save this new subset as a json file.

In [ ]:
# Importing the csv file into python using pandas' read_csv method

mlb = pd.read_csv("data/21st century MLB Batting.csv")

In [ ]:
# Printing out the first 5 items in the data frame

mlb.head(5)

In [ ]:
# Printing out the last 6 items in the data frame

mlb.tail(6)

In [ ]:
# Determining the average of the HR column
avg_hr = mlb['HR']

avg_hr.mean()

In [ ]:
# Calculating the max of the SO column
max_so = mlb['SO']

max_so.max()

In [ ]:
# Saving max_so as an Excel file

#max_so.to_excel('max_so.xlsx')

In [ ]:
# Creating a subset of the data frame for players with more than 40 HR

high_hr_players = mlb[mlb['HR'] >= 40]

high_hr_players

In [ ]:
#Saving this new subset as a json file

#high_hr_players.to_json('high_hr_players.json')